/*Navigation Bar*/
* {
  box-sizing: border-box;
}

nav ul {
  display: flex;
  background-color: rgb(80, 80, 80);
  color: white;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  resize: both;
}

.toplevel li {
  list-style-type: none;
}

.toplevel a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.bottomlevel li {
  list-style-type: none;
}

.bottomlevel a {
  color: rgb(73, 73, 73);
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

/*Navigation Dropdown*/
nav .dropdpwn {
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {background-color: rgb(191, 41, 41);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #d73434;}

/*Text*/

p {
  font-family: "Times New Roman", Times, serif;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 2vw;
}

h1 {
  color: white;
  font-size: 5vw;
}

/*Images*/

.autosize {
  width: auto;
  height:25vw;
}

.smallautosize {
  width: 50%;
  height: 25vw;
  margin-right: 5vw;
  float: left;
}

/*Flexbox*/

.flexbox {
  display: flex;
  flex-direction: row-reverse;
  float: left;
  margin-right: 10px;
}

/*Background Color*/

