/*Navigation Bar*/
* {
  box-sizing: border-box;
}

nav ul {
  display: flex;
  background-color: rgb(80, 80, 80);
  color: white;
  margin: 0rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  resize: both;
}

.toplevel li {
  list-style-type: none;
}

.toplevel a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

/*Navigation Dropdown*/
nav .dropdpwn {
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {background-color: rgb(191, 41, 41);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #d73434;}

/*Text*/

p {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: white;
}

/*Images*/

img {
  width: 100%;
  height: auto;
}

/*Flexbox*/

.flexbox {
  display: flex;
  flex-direction: row-reverse;
}

/*Background Color*/

.body {
  background-color: black;
}